@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}
.nav-top {
    background-color: #62b5e5;
    color:#E8FCFF;
    text-align: center;
    font-weight: bold;
}