@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

.container-home {
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-size: 90px !important;
}

.color-text {
    color:#E8FCFF;
}
.nav-top {
    background-color: #62b5e5;
    color:#E8FCFF;
    text-align: center;
    font-weight: bold;
    height: 10%;
}
.buttons-home {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 50px;
}

.auth-span {
    font-weight: 800;
    font-size: 50px;
}

.container-forms{
    width: 500px;
    height: 75%;
}
.forms{
    height: 100%;
}

.input-font-size {
    font-size: 34px;
}

.main-bk-color{
    background-color: #62b5e5;
}